# Ignore local configuration that may contain sensitive information such as passwords
*.local

tmp/
man/
bin/
lib/
dep/
data/
share/
include/
lib/nvim/*
lib/node_modules/*


Thumbs.db

lazy-lock.json


etc/dlv/config.yml

etc/btop/
etc/htop/
etc/github-copilot/
etc/gh/
etc/lazygit/state.yml

Desktop.ini



*chat-sessions*
*/htoprc
*/btop.conf
*.pyc

.zcompdump*
.Trashes
.Spotlight-V100
.DS_Store

.history
.zsh_history
.zshrc.pre-oh-my-zsh
